<!DOCTYPE html>
<html>
<head>
   <title></title>
   <style type="text/css">
      .expand-transition {
        transition: all .3s ease;
        height: 30px;
        padding: 10px;
        background-color: #eee;
        overflow: hidden;
      }
      /* .expand-enter 定义进入的开始状态 */
      /* .expand-leave 定义离开的结束状态 */
      .expand-enter, .expand-leave {
        height: 0;
        padding: 0 10px;
        opacity: 0;
      }
      .staggered-transition {
          transition: all .5s ease;
          overflow: hidden;
          margin: 0;
          height: 20px;
      }
      .staggered-enter, .staggered-leave {
          opacity: 0;
          height: 0;
      }
      .fade-transition {
        transition: opacity 1s ease;
      }
      .fade-enter, .fade-leave {
        opacity: 0;
      }
   </style>
</head>
<body>
   <!--双向绑定-->
   <div id="demo">
        <p>{{message}}</p>
        <p>{{*message}}</p><!--单次插值-->
        <input v-model="message">
    </div>
    <!--渲染列表-->
    <div id="list">
       <ul>
          <li v-for="todo in todos">
             {{todo.text}}
          </li>
       </ul>
    </div>
    <!--点击事件-->
    <div id="clickMethod">
       <p>{{message}}</p>
       <input v-model="message">
       <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <!--综合实例-->
    <div id="test">
       <p>{{newTodo}}</p>
       <input v-model="newTodo" v-on:keyup.enter="addTodo">
       <ul>
          <li v-for="todo in todos">
             <span>{{todo.text}}</span>
             <button v-on:click="removeTodo($index)">X</button>
             <button v-on:click="removeTodoNew(todo)">X</button>
          </li>
       </ul>
    </div>
    <!--测试响应-->
    <div id="testResponse"></div>

    <!--数据绑定语法-->
    <div id="data_html">
      <p>按字符串输出: {{show_html}}</p>
      <p>按html输出: {{{show_html}}}</p>
      <input id="item-{{id}}" v-model="id">
      <!--************************v-bind缩写*********************-->
      <div style="margin:20px 0px;">
        <!-- 完整语法 -->
        <a v-bind:href="url">绑定事件完整写法</a>
        <!-- 缩写 -->
        <a :href="url">绑定事件缩写</a>
        <a href="{{url}}">链接原始写法</a>
        <!--************************v-on缩写*********************-->
        <!-- 完整语法 -->
        <a v-on:click="doSomething">点击事件完整写法</a>
        <!-- 缩写 -->
        <a @click="doSomething">点击事件缩写</a>
      </div>
    </div>
    <!--计算属性-->
    <div id="computeExample">
      a={{a}}, b={{b}}
    </div>
    <!--条件渲染v-if,v-show-->
    <div id="conditionRender">
      <h1 v-if="ok">OK</h1>
      <h1 v-else>No</h1><!--v-else匹配的if是紧邻它的if；v-else必须立即跟在v-if或者v-show的后面，否则无法识别-->
      <h1 v-if="ok1">OK1</h1>
      <template v-if="ok">
        <h1>Title</h1>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
      </template>
      <!--v-show:元素一直在dom中，只是控制元素的display属性；v-show不能用在template中-->
      <h1 v-show="ok1">show</h1>
      <!--对于组件，v-else会有问题，所以可以使用v-show代替-->
    </div>
    <!--列表渲染v-for-->
     <div id="listRender">
        <ul>
          <li v-for="item in items">
            <!--$index表示当前数组元素的索引-->
            {{$index + 1}} -- {{item.message}}
          </li>
          <li v-for="(index, item) in items">
            <!--$index表示当前数组元素的索引-->
            {{index }} -- {{item.message}}
          </li>
        </ul>
        <!--template下的v-for;在1.0.17后可以使用of-->
        <div>
          <!--渲染多个元素块-->
          <template v-for="item of items">
            <li>{{item.message}}</li>
            <hr/>
          </template>
        </div>
        <ul>
          <li v-for="value in object">
            {{$key}} : {{value}}
          </li>
          <li v-for="(key, val) in object">
            {{key}} -- {{val}}
          </li>
        </ul>
      </div>
      <!--方法和事件处理器-->
      <div id="methodEvent">
        <button v-on:click="greet">Greet</button>
        <button v-on:click="say('hi')">say hi</button>
        <button v-on:click="say('what')">say what</button>
        <!--事件修饰符-->
        <a v-on:click.stop="doThis">阻止冒泡</a><!--阻止冒泡-->
        <a v-on:click.prevent="onSubmit">阻止默认事件</a>
        <div v-on:click.self="doThat"><!--self只对本身元素有效，对子元素无效-->
          <a >ahhahah</a>
        </div>
        <input v-on:keyup.13="submit"/>
        <input v-on:keyup.enter="submit"/>
        <input @keyup.enter="submit"/>
      </div>
      <!--表单控件-->
      <div id="formComponent">
        <!--input-->
        <span>Message is:{{message}}</span>
        <br/>
        <input type="text" v-model="message" placeholder="edit me"/>
        <br/>
        <!--textarea-->
        <span>MultiMeaage is: {{message1}}</span>
        <br/>
        <textarea v-model="message1" placeholder="add multiple lines"></textarea>
        <br/>
        <!--checkbox-->
        <input type="checkbox" id="checkbox" v-model="checked"/>
        <label for="checkbox">{{checked}}</label>
        <br/>
        <!--多个复选框-->
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames"/>
        <label for="jack">jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames"/>
        <label for="john">john</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames"/>
        <label for="mike">mike</label>
        <br/>
        <span>Checked box: {{checkedNames | json}}</span>
        <br/>
        <!--Radio-->
        <input type="radio" id="one" value="One" v-model="picked"/>
        <label>One</label>
        <br/>
        <input type="radio" id="two" value="Two" v-model="picked"/>
        <label>Two</label>
        <br/>
        <span>Picked: {{picked}}</span>
        <br/>
        <!--selected-->
        <select v-model="selected">
          <option selected>A</option>
          <option>B</option>
          <option>C</option>
        </select>
        <span>Selected: {{selected}}</span>
        <br/>
        <!--多选-->
        <select v-model="selectedMulti" multiple>
          <option selected>A</option>
          <option>B</option>
          <option>C</option>
        </select>
        <span>Selected: {{selectedMulti | json}}</span>
        <br/>
        <!--动态选项-->
        <select v-model="selectedAnimation">
          <option v-for="option in options" v-bind:value="option.value">
            {{option.text}}
          </option>
        </select>
        <span>Selected: {{selectedAnimation}}</span>
        <br/>
        <!--value-->
        <input type="checkbox" v-model="toggle" v-bind:true-value="a" v-bind:false-value="b"/>
        <label>{{toggle}}</label>
        <br/>
        <!--Lazy:在change事件时才会同步-->
        <input type="text" v-model="msg" lazy/>
        <label>{{msg}}</label>
        <!--number-->
        <input v-model="age" number/>
        <label>{{age}}</label>
        <!--debounce:每次敲击之后延迟同步输入框的值与数据-->
        <input v-model="msg1" debounce="500"/>
        <label>{{msg1}}</label>
      </div>
      <!--css过渡-->
      <div id="cssTransition">
        <div v-if="show" transition="expand">hello</div>
        <button v-on:click="changeShow">点击我</button>
        <br/>
        <input v-model="jquery"/>
        <ul>
          <li v-for="item in list|filterBy jquery" transition="staggered" stagger="100">
            {{item.text}}
          </li>
        </ul>
      </div>
      <!--组件-->
      <div id="component">
        <!--注册-->
        <my-component></my-component>
        <!--数据传递-->
        <child msg="hello!"></child>
        <br/>
        <input v-model="parentMsg"/>
        <br/>
        <my-child v-bind:my-message="parentMsg"></my-child>
        <!--单向绑定-->
        <!--注：prop属性是单向的，父组件的属性发生变化时，将传导给子组件，但是反过来不会-->
        <my-child :my-message="parentMsg"></my-child>
        <!--双向绑定-->
        <my-child :my-message.sync="parentMsg"></my-child>
        <!--单次绑定-->
        <my-child :my-message.once="parentMsg"></my-child>
      </div>
      <!--父子组件通信-->
      <!--子组件模板-->
      <template id="child-template">
        <input v-model="msg">
        <button v-on:click="notify">Dispatch Event</button>
        <!--**当父组件的子组件内没有定义内容时，显示slot里面的内容；如果子组件内有内容，则显示父组件内子组件的内容-->
        <!--多个slot使用name属性区别，并且可以决定显示顺序-->
        <slot name="two"></slot>
        <slot></slot>
        <slot name="one"></slot>
      </template>
      <!--父组件模板-->
      <div id="events-example">
        <p>Message: {{messages | json}}</p>
        <child-component v-on:child-msg="handleIt">
          <!--**msg应该是父组件定义的变量，而不是子组件定义的变量；如果是子组件内的内容，则在子组件内使用，而不是在父组件内使用-->
          <p slot="one">One</p>
          <p slot="two">Two</p>
          <p>Default A</p>
          {{msg}}
        </child-component>
        <!--父组件模板的内容在父组件作用域内编译；子组件模板的内容要在子组件作用域内编译-->
      </div>
      <!--动态组件-->
      <template id="animate-child1">
        <span>{{animateValue}}</span>
      </template>
      <div id="animation-component">
        <input type="radio" value="ComponentA" v-model="animateValue"/>
        <label>A</label>
        <input type="radio" value="ComponentB" v-model="animateValue"/>
        <label>B</label>
        <br/>
        <component :is="view2" transition="fade" transition-mode="in-out" :animate-value="animateValue"></component>
      </div>
      <!--动态组件实例:动画效果是产生在两个组件之间-->
      <div id="trueExample">
        <input v-model="view" type="radio" value="v-a" id="a" name="view"><label>A</label>
        <input v-model="view" type="radio" value="v-b" id="b" name="view"><label>B</label>
        <component :is="view" transition="fade" transition-mode="out-in"></component>
      </div>
      <!--other content-->
      <div id="otherCotent">
        <!--需要:item来给组件注入数据-->
        <component :is="myComponent" v-for="item in items" :item="item"></component>
      </div>
   <script type="text/javascript" src="/script/dest/index.js"></script>
</body>
</html>